{% extends 'store/main.html' %}
{% load static %}


{% block title %} checkout {% endblock %}

{% block body %}



<div class="row">

	<div class="col-lg-6">
		<div class="box-element" id="name-address">
			<form id="form">
					{% csrf_token %}
				<div id="user-info">
					<div class="form-field">
						<input class="form-control" type="text" name="name" placeholder="Name..."></input>
					</div>
					
					<div class="form-field">
						<input class="form-control" type="text" name="email" placeholder="Email..."></input>
					</div>
				</div>

				<div id="shipping-info">
					<hr>
					<h5>Shipping Information</h5>
					<hr>

					<div class="form-field">
						<input class="form-control" type="text" name="address" placeholder="Address..."></input>
					</div>
					
					<div class="form-field">
						<input class="form-control" type="text" name="city" placeholder="City..."></input>
					</div>

					<div class="form-field">
						<input class="form-control" type="text" name="state" placeholder="State..."></input>
					</div>

					<div class="form-field">
						<input class="form-control" type="text" name="zipcode" placeholder="Zip Code..."></input>
					</div>
				</div>

				<hr>

				<input class="btn btn-success btn-block" id="form-button" type="submit" value="Continue"></input>	
			</form>	
		</div>

		<br>

		<div class="box-element d-none" id="payment-info">
			<button class="btn btn-secondary btn-block" id="make-payment">Make Payment</button>
		</div>
	</div>



	<div class="col-lg-6">
		<div class="box-element">
			<a class="btn btn-outline-secondary" href="{% url 'cart' %}">&#8592; Back To Cart</a>
			<hr>
			<h3>Order Summary</h3>

			<hr>

			{% for item in orderitems %}
			<div style="display:flex;">
				<div style="flex:2"><img style="width: 60px; display:inline;" src="{{ item.product.image.url }}"></div>
				<div style="flex:2">{{ item.product.name }}</div>
				<div style="flex:1">${{ item.product.price }}</div>
				<div style="flex:1">{{ item.quantity }}</div>
			</div>
			<hr>
			{% endfor %}

			<hr>

			<h5>Items: {{ total_quantity }}</h5>
			<h5>Total: ${{ total_price }}</h5>


			
		</div>
	</div>
</div>

<script type="text/javascript">

if('{{shipping}}' == 'False'){
	document.getElementById("shipping-info").innerHTML = ' '
}

if(user != "AnonymousUser"){
	document.getElementById("user-info").classList.add("d-none")
}

if(user != "AnonymousUser" && '{{shipping}}' == 'False' ){
	document.getElementById("name-address").classList.add("d-none")	
	document.getElementById('payment-info').classList.remove("d-none")
}


var form = document.getElementById("form")
//csrftoken = form.getElementsByTagName("input")[0].value

form.addEventListener("submit", function(e){
	e.preventDefault()
	console.log('form submitted')
	document.getElementById('form-button').classList.add("d-none")
	document.getElementById('payment-info').classList.remove("d-none")

	})

document.getElementById('make-payment').addEventListener("click",function () {
	submitFormData()
	})

function submitFormData(){
	console.log("data is submitted")

	var userFormData = {
		'name' : null,
		'email' : null, 
	}

	var shippingInfo = {
		'address' : null,
		'city' : null,
		'state' : null,
		'zipcode' : null, 		
	}

	if (user == "AnonymousUser"){
		userFormData['name'] = form['name']['value']
		userFormData['email'] = form['email']['value']
	}

	if ('{{shipping}}' == "True"){
		shippingInfo['address'] = form['address']['value']
		shippingInfo['city'] = form['city']['value']
		shippingInfo['state'] = form['state']['value']
		shippingInfo['zipcode'] = form['zipcode']['value']
	}

	console.log(shippingInfo)

	var collectedData = {
		'form': userFormData,
		'shipping' :shippingInfo,
	}

	fetch('/process/order/',{
		method: 'POST',
    	headers: { 
    		'Content-Type': 'application/json',
    		'X-CSRFToken' : csrftoken,
    	},
		body: JSON.stringify(collectedData)
		})

		.then(response => response.json())
		.then(data => {
			console.log('sucess:', data);
			alert('transaction complete');
			cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"		
			window.location.href = "{% url 'store' %}";
			})

}



</script>

{% endblock %}

